
ImageGallery.xcodeproj/project.xcworkspace/xcuserdata/deniscouras.xcuserdatad/UserInterfaceState.xcuserstate
ImageGallery.xcodeproj/xcuserdata/deniscouras.xcuserdatad/xcschemes/xcschememanagement.plist
