<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>7d79b49a8cb9c13</string>
	<key>clientSecret</key>
	<string>6e920258f145c8b7659a37854a678b9c9d601833</string>
</dict>
</plist>
